[exportConfig]

# Folder to export JSON configurations into
export_folder = json

# Do you want the SDDC ID to be appended to the export filename?
# sddcid_yyyy_mm_dd_hh-mm-ss_json.export.zip
# c12fe3f4-515c-4859-ce45-2a25935ea251_2021_01_05_10-30-00_json.export.zip with the SDDC ID
# 2021_01_05_10-30-00_json.export.zip without the SDDC ID
append_sddc_id_to_zip = True

# Export compute gateway groups filename
# There is no True/False flag for this option because CGW groups are automatically exported with CGW settings
cgw_groups_filename = cgw_groups.json

# Export compute gateway settings?
cgw_export = True
cgw_export_filename = cgw.json

# Export the management gateway settings?
mgw_export = True
mgw_export_filename = mgw.json

# Export the networks configured on the compute gateway?
network_export  = True
network_export_filename = cgw-networks.json

# Export the list of public IP addresses?
public_export = True
public_export_filename = public.json

# Export the NAT rules, including Public IP addresses?
nat_export = True
nat_export_filename = natrules.json

#Export VPN configuration?
vpn_export = True

# Export service access?
service_access_export = True

# Export the distributed firewall?
dfw_export = True
dfw_export_filename = dfw.json
dfw_detailed_export_filename = dfw_details.json

# Filename for SDDC info - the base SDDC congfiguration from /vmc/api/orgs/*/sddc
sddc_info_filename = sddc_info.json
# If True, this will hide sensitive SDDC data like cloud_password
sddc_info_hide_sensitive_data = True

# Keep previous versions of the exported JSON files?
export_history = True
# If export_history is set to True, how many previous zip files to keep before deleting the oldest file? -1 for unlimited
max_export_history_files = 10
# If export_history is true, do you want to purge the exported JSON files after they are zipped into the archive?
export_purge_after_zip = False

#Export Mode
# export_type = os
#    - Export files will be written to the OS where Python is running
# export_type = s3
#    - Export files will be written to an S3 bucket as well as to the OS. Make sure to configure the [awsConfig] section of aws.ini
export_type = os

# Purge any previously exported JSON files before a new export is run?
export_purge_before_run = True

[importConfig]

# Set this to True if you want to do continuous sync operations i.e. a periodic sync of
# DFW rules from a source to a destination SDDC. The default method of import operations 
# is a PUT. Setting this flag to True changes the method to a PATCH
# Not all settings are supported for sync - public IP and NAT mapping are unsupported
sync_mode = False

# Folder to import JSON configurations from
import_folder = json

# Import mode
# import_mode = test
#  - No changes will be made to the destination SDDC
#
# import_mode = live
#  - Changes will be made to the destination SDDC
import_mode = live

# Script will warn, ask for a confirmation before continuing in live mode
# Set this to false if you are absolutely sure you have your script configured correctly and want to run it automatically
import_mode_live_warning = True

# Import compute gateway settings?
cgw_import = True
cgw_groups_filename = cgw_groups.json
cgw_import_filename = cgw.json
# Python regex match on CGW group display name, pipe-delimited. See README for examples.
cgw_groups_import_exclude_list = CloudDR-MgmtNetworkPrefixes|CloudDR-ProxyNetworkPrefixes
# Python regex match on CGW rule display name, pipe-delimited. See README for examples.
cgw_import_exclude_list = CloudDR-SystemRule-vCenterHttpsInbound|CloudDR-SystemRule-ProxyVMToCloudDR|CloudDR-SystemRule-CloudDRToProxyVM

# Import the management gateway settings?
mgw_import = True
mgw_groups_filename = mgw_groups.json
mgw_import_filename = mgw.json
# Python regex match on MGW group display name, pipe-delimited. See README for examples.
mgw_groups_import_exclude_list =
# Python regex match on MGW rule display name, pipe-delimited. See README for examples.
mgw_import_exclude_list = CloudDR-SystemRule-CloudDRTovCenter|CloudDR-SystemRule-ProxyVMTovCenter

# Import the compute gateway networks?
network_import  = True
network_import_filename = cgw-networks.json
# Python regex match on network display name, pipe-delimited. See README for examples.
network_import_exclude_list = sddc-cgw-network-1|sddc-cloud-dr-proxy-network
# Stop importing after you reach this number of networks, set to -1 for unlimited
# This setting is generally used for debugging.
network_import_max_networks = -1

# Import the list of public IP addresses?
public_import = True
public_import_filename = public.json
public_ip_old_new_filename = public_ip_old_new.json

# Import the NAT rules across, alongside the public IP addresses?
nat_import = True
nat_import_filename = natrules.json

# Import VPN configuration?
vpn_import = True

# Automatically disable VPN tunnels when importing them
vpn_disable_on_import = False

# Import service access?
service_access_import = True

# Import the distributed firewall?
dfw_import = True
dfw_import_filename = dfw.json
dfw_detailed_import_filename = dfw_details.json
